extends adminlayout

block content
        section.section
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-clipboard
                a.is-size-3(href='admin/posts')
                  span.title-admin Posts
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-th-list
                a.is-size-3 
                  span.title-admin Categories
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-picture-o 
                a.is-size-3 
                  span.title-admin Projects
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-quote-right
                a.is-size-3 
                  span.title-admin Testimonials
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-comments
                a.is-size-3 
                  span.title-admin Messages
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-sign-out
                a.is-size-3 
                  span.title-admin Sign out
