doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin - Free Bulma template
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/app.css')
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Domine:400,700')
    style.
      .box {
        padding: 25px;
      }
  body
    .columns
      aside.column.is-2.aside.hero.is-fullheight.is-hidden-mobile
        div
          .main
            .title 
              a(href='/')
                p Main page
            .title 
              a(href='/admin')
                p Dashboard
            a.item(href='admin/posts')
              span.icon
                i.fa.fa-clipboard
              span.name Posts
            a.item(href='#')
              span.icon
                i.fa.fa-th-list
              span.name Categories
            a.item(href='#')
              span.icon
                i.fa.fa-picture-o
              span.name Projects
            a.item(href='#')
              span.icon
                i.fa.fa-quote-right 
              span.name Testimonials
            a.item(href='#')
              span.icon
                i.fa.fa-comments
              span.name Messages
            a.item(href='#')
              span.icon
                i.fa.fa-sign-out
              span.name Sign out
      .column.is-10.admin-panel
        nav#top.nav.has-shadow
          .container
            .nav-left
              h1.title.is-4.nav-item Welcome Predrag
            span.nav-toggle
              span
              span
              span
            .nav-right.nav-menu.is-hidden-tablet
              a.nav-item.is-active(href='#')
                | Posts/Add posts
              a.nav-item(href='#')
                | Activity
              a.nav-item(href='#')
                | Timeline
              a.nav-item(href='#')
                | Folders
        section.section
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-clipboard
                a.is-size-3
                  span.title-admin Posts
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-th-list
                a.is-size-3 
                  span.title-admin Categories
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-picture-o 
                a.is-size-3 
                  span.title-admin Projects
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-quote-right
                a.is-size-3 
                  span.title-admin Testimonials
          .columns
            .column.is-one-third.is-offset-2
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-comments
                a.is-size-3 
                  span.title-admin Messages
            .column.is-one-third
              .box.has-text-centered
                p
                  span.icon.is-large
                    i.fa.fa-sign-out
                a.is-size-3 
                  span.title-admin Sign out
