doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Domine:400,700')
  body
    .nav#top
      .nav-left
        a.nav-item(href='/admin') Dashboard
      .nav-center
        a.nav-item
          span.icon
            i.fa.fa-github
        a.nav-item
          span.icon
            i.fa.fa-twitter
      span.nav-toggle
        span
        span
        span
      .nav-right.nav-menu
        a.nav-item(href='/') Home
        a.nav-item(href='/') Sign out
    .hero.is-fullheight
      .columns.main-content
        .column.is-2.aside.is-hidden-mobile
          .main
            a.item(href='/admin/posts' class=(title === 'Posts' ? 'active' : ''))
              span.icon
                i.fa.fa-clipboard
              span.name Posts
            a.item(href='/admin/categories' class=(title === 'Categories' ? 'active' : ''))
              span.icon
                i.fa.fa-th-list
              span.name Categories
            a.item(href='#')
              span.icon
                i.fa.fa-picture-o
              span.name Projects
            a.item(href='#')
              span.icon
                i.fa.fa-quote-right 
              span.name Testimonials
            a.item(href='#')
              span.icon
                i.fa.fa-comments
              span.name Messages
            a.item(href='#')
              span.icon
                i.fa.fa-sign-out
              span.name Sign out
        .column.is-10.is-offset-2
          
          block content