extends adminlayout

block content
	.columns
		.column.is-half.is-offset-one-quarter
			form(method='post', action='./posts', enctype='multipart/form-data')
				.field
					label.label Title:
					.control
						input.input(type='text', name='title', required, value=post.title)
				.field
					label.label Category:
					.control
						.select
							select(name='category')
								if categories
									each category, i in categories
										option(value=category.title)=category.title
				.field
					label.label Short Body:
					.control
						textarea.textarea(name='shortBody', rows='2', required)=post.shortBody
				.field 
					label.label Body:
					.control
						textarea.textarea(name='body', rows='5', required)=post.body
				.field
					.file.has-name.is-dark
						label.file-label
							input.file-input(type='file', name='mainImage', required)
							span.file-cta
								span.file-icon
									i.fa.fa-upload
								span.file-label Choose a file...
							span.file-name
				.field
					label.label Author:
						.control
						.select
							select(name='author')
								option(value='Predrag Stošić') Predrag Stošić
				.field.is-grouped
					.control
						button.button.is-success Submit
					.control
						button.button.is-link Reset