extends adminlayout

block content
	section.hero.portfolio-section
		.hero-body
			.container
				if messages != ""
					table.table.is-fullwidth.is-bordered
						thead
							th Name
							th Email
							th Message
							th Date
							th Action
						tbody
							each message, i in messages 
								tr
									td=message.name
									td=message.email
									td=message.message
									td=moment(message.date).format('DD.MM.YYYY, HH:mm')  
									td
										.field.is-grouped
											.control
												a(href='#').button.is-info Show
											.control
												a(href='/admin/messages/' + message._id + '/delete').button.is-danger Delete  
				else
					h1.title.has-text-centered There are no messages            