extends adminlayout

block content 
	section.hero.portfolio-section
		.hero-body
			div.container
				div.tile.is-ancestor
					div.tile.is-12.is-vertical
						div.tile
							div.tile.is-parent.is-vertical
								article.tile.is-child.box.port-1
									button.button.is-primary Change	
								article.tile.is-child.box.port-2
									button.button.is-primary Change	
							div.tile.is-parent
								article.tile.is-child.box.port-3
									button.button.is-primary Change	
							div.tile.is-parent.is-vertical
								article.tile.is-child.box.port-4
									button.button.is-primary Change	
								article.tile.is-child.box.port-5
									button.button.is-primary Change	
	.modal
		.modal-background
		.modal-content
			.box.modal-box
				- for (var x = 1; x < 6; x++)
						div(class='image-' + x)
							button.button.is-primary.is-select Select
							button.button.is-danger.remove
								span.icon.is-small
									i.fa.fa-times
				.image-6
					i.fa.fa-plus-circle
		button.modal-close.is-large(aria-label='close')
	script(src='../javascripts/jquery-3.2.1.slim.min.js')
	script.
		$('.button').click(function() {
			$('.modal').addClass("is-active");
		});
		$('.modal-close, .modal-background').click(function() {
			$('.modal').removeClass("is-active");
		});