extends adminlayout

block content 
	section.hero.portfolio-section
		.hero-body
			div.container
				div.tile.is-ancestor
					div.tile.is-12.is-vertical
						div.tile
							div.tile.is-parent.is-vertical
								article.tile.is-child.box.port-1
									button.button.is-primary Change	
								article.tile.is-child.box.port-2
									button.button.is-primary Change	
							div.tile.is-parent
								article.tile.is-child.box.port-3
									button.button.is-primary Change	
							div.tile.is-parent.is-vertical
								article.tile.is-child.box.port-4
									button.button.is-primary Change	
								article.tile.is-child.box.port-5
									button.button.is-primary Change	