extends adminlayout

block content 
	section.hero.portfolio-section
		.hero-body
			div.container
				div.tile.is-ancestor
					div.tile.is-12.is-vertical
						div.tile
							div.tile.is-parent.is-vertical
								article.tile.is-child.port
									img(src=(projects[0] != undefined ? '/images/portfolio/uploads/' + projects[0] : '/images/portfolio/comingsoon.png'))
									a.button.is-dark(href='/admin/projects/portfolio1') Change	
								article.tile.is-child.port
									img(src=(projects[1] != undefined ? '/images/portfolio/uploads/' + projects[1] : '/images/portfolio/comingsoon.png'))
									a.button.is-dark(href='/admin/projects/portfolio2') Change	
							div.tile.is-parent
								article.tile.is-child.port
									img(src=(projects[2] != undefined ? '/images/portfolio/uploads/' + projects[2] : '/images/portfolio/comingsoon.png'))
									a.button.is-dark(href='/admin/projects/portfolio3') Change	
							div.tile.is-parent.is-vertical
								article.tile.is-child.port
									img(src=(projects[3] != undefined ? '/images/portfolio/uploads/' + projects[3] : '/images/portfolio/comingsoon.png'))
									a.button.is-dark(href='/admin/projects/portfolio4') Change	
								article.tile.is-child.port
									img(src=(projects[4] != undefined ? '/images/portfolio/uploads/' + projects[4] : '/images/portfolio/comingsoon.png'))
									a.button.is-dark(href='/admin/projects/portfolio5') Change	