/* BLOG STYLES */

.blog-section
	h1
		@include liness

		span
			font-size: 2.5em !important
			line-height: 0rem

			&:after
				content: "L"
				color: $main-color
	.card 
		box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0,0,0,0.15)

	@for $i from 1 through 4
		.post-#{$i}
			background:
				image: url(../../images/blog#{$i}.jpg)
				size: cover
				position: center center	
	
	.profile
		background: 
			image: url(../../images/profile.jpeg)
			size: cover
			position: center center	