/* FOOTER STYLES */

.social
	background: #fff
	padding: 30px 0
	margin-bottom: 0 !important

.footer-section
	background: #333 !important

	h1
		color: #F9F9F9 !important
		text-transform: uppercase
		margin-bottom: 10px !important

	p 
		color: #F9F9F9

.field
	margin: 0 !important
	border-radius: 0 !important

	.input, textarea
		background: #555 !important
		border-radius: 0
		border: none

.footer-text
	p 
		background: #222
		padding: 20px 0
		color: #F9F9F9

		span 
			color: #00d1b2


