/* PORTFOLIO STYLES */

.portfolio-section
	h1
		@include liness()

		span
			font-size: 2.5em !important
			line-height: 0rem

			&:after
				content: "P"
				color: $main-color

	.port
		height: 100%
		width: 100%
		min-height: 200px
		position: relative

		img 
			width: 100%
			height: 100%
			min-height: 200px
			box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
			object-fit: cover