.testimonials-section
	h1
		@include liness()
	
	background: #F3F3F3
	
	.testimonial
		font-style: italic

	.box 
		background: #F9F9F9
		
	p 
		margin-bottom: 50px !important

	figure
		left: 50%
		transform: translateX(-50%)
		margin: 50px 0
		background:
			image: url(../../images/profile.jpeg)
			size: cover
			position: center center

	
