extends layout

block content
	section.hero.blog-landing.has-text-centered.is-medium
		div.hero-body
			div.container
				div.columns
					div.column.is-4.is-offset-4
						h1.title.is-size-1 Blog
						p.subtitle Personal ocean of posts
	section.section.blog-section
		div.container
			if posts
				each post, i in posts
					if i % 3 == 0
						div.columns
							each rowPost in posts.slice(i, i + 3)
								div.column.is-4
									div.card
										div.card-image
											figure.image.is-2by1
												img(src='/images/uploads/' + rowPost.mainImage)
										div.card-content
											div.media
												div.media-left
													figure.image.is-48x48.profile
												div.media-content
													p.title.is-4
														a(href='/post/show/' + rowPost._id)=rowPost.title
													p.subtitle.is-6=rowPost.author
											div.content=rowPost.shortBody
												br
												a(href='/post/show/' + rowPost._id) Read more
												br
												small=moment(rowPost.date).format('DD:MM:YYYY')


