extends layout

block content
	section.hero.landing.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-user
		div.hero-body
			div.container
				div.columns
					div.column
						p.subtitle.is-4#hello 
							span Hello world!
						br
						h1.title.is-1 Hi, my name is
							br
							|	#[span Predrag]
						br
						p.subtitle.is-3 I'm a web developer, 
							br
							| so let's build something 
							br
							| great together!
		a.is-large.icon-down
			span.icon.is-large
				i.fa.fa-angle-double-down
					div.column.person
	section.hero.about-section.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-id-card-o
		.hero-body
			div.container
				h1.title.is-2 #[span]bout
				div.columns.is-desktop.about-text
					div.column.is-half.is-offset-one-quarter
						p.subtitle.is-6#me Hi, my name is Predrag. I'm web developer from Serbia. Programming is my passion and something that inspires me. I graduated High School, department related to Computer Science, and I'm currently student at Higher Medical and Business-Technological School of Applied Studies. Some of my other passions are cars, gym, traveling...
						div.about-buttons
							button.button.is-primary.is-outlined My Resume
							button.button.is-primary Hire Me
	section.hero.about-section.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-list
		.hero-body
			.container
				.columns
					div.column.is-half.is-offset-one-quarter.about-skills
						h2.title.is-2 #[span]kills & abilities
						p.subtitle.is-size-6 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						div.progressBar
							h3.is-5 HTML5/Pug
							div.progressBarContainer
								div.progressBarValue.value-85
							p
								small 85%
						div.progressBar
							h3.is-5 CSS3/Sass
							div.progressBarContainer
								div.progressBarValue.value-80
							p
								small 80%
						div.progressBar
							h3.is-5 JavaScript
							div.progressBarContainer
								div.progressBarValue.value-75
							p
								small 75%
						div.progressBar
							h3.is-5 MEAN
							div.progressBarContainer
								div.progressBarValue.value-50
							p
								small 50%
	section.hero.portfolio-section.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-picture-o
		.hero-body
			div.container
				h1.title.is-2 #[span]ortfolio
				div.tile.is-ancestor
					div.tile.is-12.is-vertical
						div.tile
							div.tile.is-parent.is-vertical
								article.tile.is-child.port.layout-box
									img(src=(projects[0] != undefined ? '/images/portfolio/uploads/' + projects[0] : '/images/portfolio/comingsoon.png'))
								article.tile.is-child.port.layout-box
									img(src=(projects[1] != undefined ? '/images/portfolio/uploads/' + projects[1] : '/images/portfolio/comingsoon.png'))
							div.tile.is-parent
								article.tile.is-child.port.layout-box
									img(src=(projects[2] != undefined ? '/images/portfolio/uploads/' + projects[2] : '/images/portfolio/comingsoon.png'))
							div.tile.is-parent.is-vertical
								article.tile.is-child.port.layout-box
									img(src=(projects[3] != undefined ? '/images/portfolio/uploads/' + projects[3] : '/images/portfolio/comingsoon.png'))
								article.tile.is-child.port.layout-box
									img(src=(projects[4] != undefined ? '/images/portfolio/uploads/' + projects[4] : '/images/portfolio/comingsoon.png'))
	section.hero.testimonials-section.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-commenting-o
		.hero-body
			div.container.has-text-centered
				h1.title.is-2 #[span]estimonials
				if testimonials
					each testimonial, i in testimonials
						div.columns
							div.column.is-8.is-offset-2
								div.box.has-ribbon-left
									div.ribbon 
										span.is-medium
											i.fa.fa-quote-left
									figure.image.is-96x96
									p.subtitle.testimonial
										q=testimonial.text
									p.subtitle.is-6 
										b=testimonial.author
										| 
										br
										|
										small=testimonial.job + ", " + testimonial.firm 
	section.hero.blog-section.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-book
		.hero-body
			div.container
				h1.title.is-2 #[span]atest posts
				div.columns
					div.column.is-5.is-offset-1
						div.card
							div.card-image
								figure.image.is-2by1.post-1
							div.card-content
								div.media
									div.media-left
										figure.image.is-48x48.profile
									div.media-content
										p.title.is-4 John Smith
										p.subtitle.is-6 @johnsmith
								div.content
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									br
									a Read more
									br
									small 11:09 PM - 1 Jan 2016
					div.column.is-5
						div.card
							div.card-image
								figure.image.is-2by1.post-2
							div.card-content
								div.media
									div.media-left
										figure.image.is-48x48.profile
									div.media-content
										p.title.is-4 John Smith
										p.subtitle.is-6 @johnsmith
								div.content
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
									br
									a Read more
									br
									small 11:09 PM - 1 Jan 2016
	footer.footer.footer-section(style="padding-bottom: 48px").hero.is-fullheight.layout-box.has-ribbon-left
		div.ribbon 
			span.is-medium
				i.fa.fa-address-card-o
		.hero-body
			div.container
				div.content.has-text-centered(style="margin-bottom: 48px")
					h1.title.is-2 #[span]et in touch
					p Feel free to ask anything.
				div.columns
					div.column.is-half.is-offset-one-quarter(style="margin-bottom: 36px").contact-form
						form(method='post', action='admin/messages', enctype='application/x-www-form-urlencoded')
							div.field
								p.control
									input.input(type='text' placeholder='Name' name='name' required)
							div.field
								p.control
									input.input(type='email' placeholder='Email' name='email' required)
							div.field
								p.control
									textarea.textarea(placeholder='Enter Message' name='message')
							div.level
								div.level-left
									div.level-item
								div.level-right
									div.level-item
										button.button.is-primary(type='submit') Submit
				div.columns
					div.column.is-4.is-offset-4
						nav.level
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-github
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-facebook
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-linkedin
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-instagram
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-twitter
							div.level-item.has-text-centered
								div
									p
										a.icon.is-medium
											i.fa.fa-dropbox
	div.has-text-centered.footer-text
		p 
			small Coded with &hearts; by 
				span Predrag 
				| , &copy; 2017





