/* ==============================
 * PLUGINS & THIRD PARTY STYLES
 * ============================== */
.timeline .timeline-item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-bottom: 2.4rem;
  position: relative; }
  .timeline .timeline-item::before {
    background: #f0f1f4;
    content: "";
    height: 100%;
    left: 1.1rem;
    position: absolute;
    top: 2.4rem;
    width: 0.2rem; }
  .timeline .timeline-item .timeline-left {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .timeline .timeline-item .timeline-content {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.2rem 0 0.2rem 1.5rem; }
  .timeline .timeline-item .timeline-icon {
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 2.4rem;
    text-align: center;
    width: 2.4rem; }
    .timeline .timeline-item .timeline-icon::before {
      border: 0.2rem solid #00d1b2;
      border-radius: 50%;
      content: "";
      display: block;
      height: 0.8rem;
      left: 0.8rem;
      position: absolute;
      top: 0.8rem;
      width: 0.8rem; }
    .timeline .timeline-item .timeline-icon .icon {
      height: 100%;
      width: 100%; }
    .timeline .timeline-item .timeline-icon.icon-lg {
      background: #00d1b2;
      font-size: 1.6rem;
      line-height: 2rem; }
      .timeline .timeline-item .timeline-icon.icon-lg::before {
        content: none; }

.has-ribbon {
  position: relative;
  min-height: 52px; }

.has-ribbon-left {
  position: relative;
  min-height: 52px; }
  .has-ribbon-left .ribbon {
    right: auto;
    left: -10px; }

.has-ribbon-bottom .ribbon {
  position: relative;
  min-height: 52px;
  top: auto;
  bottom: 10px; }

.ribbon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 600;
  z-index: 2;
  box-shadow: 8px 9px 0px #e8ede8;
  background-color: #00d1b2; }
  .ribbon::before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: ""; }

/* ==============================
 * BASE STYLES
 * ============================== */
html, body {
  background-image: url(../../images/white_brick_wall.png);
  background-repeat: repeat; }

h1, h2 {
  font-family: "Encode Sans", sans-serif !important; }

p {
  font-family: "Roboto", sans-serif !important; }

button {
  box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0 !important; }

/* ==============================
 * LAYOUT STYLES
 * ============================== */
/* LANDING STYLES */
.navbar {
  height: 70px; }
  .navbar a {
    font-family: "Encode Sans", sans-serif;
    font-weight: 300; }
  .navbar .twitter:hover {
    color: #55acee; }

.landing {
  background-image: url(../../images/landing.jpg) !important;
  background-size: cover !important;
  margin-top: -52px;
  margin-bottom: 48px; }
  .landing h1 {
    font-family: "Encode Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400; }
  .landing p {
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
  .landing #hello {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px; }
  .landing .icon-down {
    position: relative;
    bottom: 0;
    text-align: center; }

.layout-box {
  background: white;
  margin: 50px 50px 62px 50px;
  box-shadow: 15px 12px 0px rgba(0, 0, 0, 0.15); }

/* ABOUT STYLES */
.about-section h1 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px !important; }
  .about-section h1 span {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  .about-section h1:before, .about-section h1:after {
    content: "-"; }
  .about-section h1 span {
    font-size: 2.5em !important;
    line-height: 0rem; }
    .about-section h1 span:after {
      content: "A";
      color: #00d1b2; }
.about-section #me {
  line-height: 1.8rem !important; }
.about-section h2 {
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px !important; }
  .about-section h2 span {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  .about-section h2:before, .about-section h2:after {
    content: "-"; }
  .about-section h2 span {
    font-size: 2.5em !important;
    line-height: 0rem; }
    .about-section h2 span:after {
      content: "S";
      color: #00d1b2; }
.about-section .about-buttons {
  display: flex;
  justify-content: center; }
  .about-section .about-buttons button:first-child {
    margin-right: 20px; }
  .about-section .about-buttons .button {
    width: 100px;
    font-family: "Encode Sans", sans-serif; }
.about-section .about-education div {
  margin-bottom: 2rem; }
.about-section .about-education div:last-child {
  margin-bottom: 0px; }
@media screen and (max-width: 960px) {
  .about-section .about-education {
    text-align: center; }
    .about-section .about-education div:last-child {
      margin-bottom: 2rem; } }
.about-section .about-education .is-size-6 {
  color: #00d1b2; }
.about-section .about-jobs p {
  line-height: 1.5rem !important; }
.about-section .about-jobs .type {
  font-weight: bold; }
  .about-section .about-jobs .type small {
    font-weight: normal;
    color: #00d1b2; }
.about-section .about-jobs .media {
  float: left; }
@media screen and (max-width: 960px) {
  .about-section .about-jobs h2 {
    text-align: center; }
  .about-section .about-jobs p {
    text-align: center; }
  .about-section .about-jobs .type {
    text-align: center; }
  .about-section .about-jobs #support {
    float: right; }
  .about-section .about-jobs #backend {
    float: right; } }
.about-section #me {
  text-align: center;
  line-height: 1.5rem; }
.about-section .about-skills .subtitle {
  margin-top: 36px !important;
  text-align: center;
  line-height: 1.5rem !important; }
@media screen and (max-width: 960px) {
  .about-section .about-skills h2 {
    text-align: center;
    margin-top: 32px; } }
.about-section .about-skills small {
  float: right; }
.about-section .about-skills .progressBar {
  margin-bottom: 26px;
  margin-bottom: 1.66em; }
  .about-section .about-skills .progressBar .progressBarContainer {
    width: 100%;
    height: 5px;
    background: rgba(8, 102, 220, 0.2);
    overflow: hidden; }
    .about-section .about-skills .progressBar .progressBarContainer .progressBarValue {
      height: 1.66em;
      float: left;
      background: #00d1b2; }
.about-section .about-skills .value-5 {
  width: 5%; }
.about-section .about-skills .value-10 {
  width: 10%; }
.about-section .about-skills .value-15 {
  width: 15%; }
.about-section .about-skills .value-20 {
  width: 20%; }
.about-section .about-skills .value-25 {
  width: 25%; }
.about-section .about-skills .value-30 {
  width: 30%; }
.about-section .about-skills .value-35 {
  width: 35%; }
.about-section .about-skills .value-40 {
  width: 40%; }
.about-section .about-skills .value-45 {
  width: 45%; }
.about-section .about-skills .value-50 {
  width: 50%; }
.about-section .about-skills .value-55 {
  width: 55%; }
.about-section .about-skills .value-60 {
  width: 60%; }
.about-section .about-skills .value-65 {
  width: 65%; }
.about-section .about-skills .value-70 {
  width: 70%; }
.about-section .about-skills .value-75 {
  width: 75%; }
.about-section .about-skills .value-80 {
  width: 80%; }
.about-section .about-skills .value-85 {
  width: 85%; }
.about-section .about-skills .value-90 {
  width: 90%; }
.about-section .about-skills .value-95 {
  width: 95%; }
.about-section .about-skills .value-100 {
  width: 100%; }

/* PORTFOLIO STYLES */
.portfolio-section h1 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px !important; }
  .portfolio-section h1 span {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  .portfolio-section h1:before, .portfolio-section h1:after {
    content: "-"; }
  .portfolio-section h1 span {
    font-size: 2.5em !important;
    line-height: 0rem; }
    .portfolio-section h1 span:after {
      content: "P";
      color: #00d1b2; }
.portfolio-section .port-1 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio1.jpeg);
  background-size: cover;
  background-position: center center; }
.portfolio-section .port-2 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio2.jpeg);
  background-size: cover;
  background-position: center center; }
.portfolio-section .port-3 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio3.jpeg);
  background-size: cover;
  background-position: center center; }
.portfolio-section .port-4 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio4.jpeg);
  background-size: cover;
  background-position: center center; }
.portfolio-section .port-5 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio5.jpeg);
  background-size: cover;
  background-position: center center; }
.portfolio-section .port-6 {
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio6.jpeg);
  background-size: cover;
  background-position: center center; }

.testimonials-section .box {
  box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0 !important; }
.testimonials-section h1 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px !important; }
  .testimonials-section h1 span {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  .testimonials-section h1:before, .testimonials-section h1:after {
    content: "-"; }
  .testimonials-section h1 span {
    font-size: 2.5em !important;
    line-height: 0rem; }
    .testimonials-section h1 span:after {
      content: "T";
      color: #00d1b2; }
.testimonials-section .testimonial {
  font-style: italic; }
.testimonials-section p {
  margin-bottom: 50px !important; }
.testimonials-section figure {
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
  background-image: url(../../images/profile.jpeg);
  background-size: cover;
  background-position: center center; }

/* BLOG STYLES */
.blog-section h1 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 36px !important; }
  .blog-section h1 span {
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
  .blog-section h1:before, .blog-section h1:after {
    content: "-"; }
  .blog-section h1 span {
    font-size: 2.5em !important;
    line-height: 0rem; }
    .blog-section h1 span:after {
      content: "L";
      color: #00d1b2; }
.blog-section .card {
  box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0, 0, 0, 0.15); }
.blog-section .post-1 {
  background-image: url(../../images/blog1.jpg);
  background-size: cover;
  background-position: center center; }
.blog-section .post-2 {
  background-image: url(../../images/blog2.jpg);
  background-size: cover;
  background-position: center center; }
.blog-section .post-3 {
  background-image: url(../../images/blog3.jpg);
  background-size: cover;
  background-position: center center; }
.blog-section .post-4 {
  background-image: url(../../images/blog4.jpg);
  background-size: cover;
  background-position: center center; }
.blog-section .profile {
  background-image: url(../../images/profile.jpeg);
  background-size: cover;
  background-position: center center; }

/* FOOTER STYLES */
.social {
  background: #fff;
  padding: 30px 0;
  margin-bottom: 0 !important; }

.footer-section {
  background: #fff !important; }
  .footer-section h1 {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 36px !important;
    margin-bottom: 10px !important;
    font-weight: 600 !important; }
    .footer-section h1 span {
      text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); }
    .footer-section h1:before, .footer-section h1:after {
      content: "-"; }
    .footer-section h1 span {
      font-size: 2.5em !important;
      line-height: 0rem; }
      .footer-section h1 span:after {
        content: "G";
        color: #00d1b2; }
  .footer-section .field {
    margin-bottom: 20px !important; }
  .footer-section .input {
    box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 !important; }
  .footer-section textarea {
    box-shadow: 4px 3px 0px #fff, 12px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 !important; }

.footer-text p {
  padding: 20px 0;
  background: #FFF; }
  .footer-text p span {
    color: #00d1b2; }

/* BLOG LANDING STYLES */
.blog-landing {
  background-image: url(../../images/blog-landing.jpeg);
  background-size: cover;
  background-position: 70% 70%;
  margin-top: -52px;
  box-shadow: 0px 2px 5px 0px rgba(150, 150, 150, 0.4);
  margin-bottom: 48px; }
  .blog-landing h1 {
    font-family: "Encode Sans", sans-serif;
    text-transform: uppercase; }

/* ADMIN PAGE STYLES */
.admin-panel {
  padding-right: 0 !important;
  min-height: calc(100% - 52px); }

.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7; }
  .nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
    color: #F6F7F7; }
  .nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px; }

.aside {
  background-color: #354052;
  margin-right: -10px;
  margin-top: 12px; }
  .aside .main {
    padding: 40px;
    color: #6F7B7E;
    position: fixed; }
    @media screen and (max-width: 1025px) {
      .aside .main {
        padding: 10px; } }
  .aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
  .aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E; }
    .aside .main .item.active {
      color: #F6F7F7; }
  .aside .main .icon {
    font-size: 19px;
    padding-right: 30px; }
    @media screen and (max-width: 1150px) {
      .aside .main .icon {
        display: none; } }
  .aside .main .name {
    font-size: 16px;
    font-weight: bold; }

.title-admin {
  color: #4a4a4a; }

/* ADMIN/POST STYLES */
.hidden {
  display: none; }

form {
  margin-bottom: 48px; }

/* ==============================
 * MODULE STYLES
 * ============================== */

/*# sourceMappingURL=app.css.map */
