// MIXINS
@mixin liness()
	text-transform: uppercase
	text-align: center
	display: flex
	flex-direction: row
	justify-content: center
	text-align: center 
	margin-bottom: 36px !important

	span 
		text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15)

	&:before, &:after
		content: "-"