/* ADMIN PAGE STYLES */
html {
  padding-left: 12px;
  padding-right: 12px; }

#top {
  position: fixed;
  width: 100%;
  background: #25283D;
  left: 0px; }
  #top a {
    color: white; }

.aside {
  background-color: #EEE;
  padding-right: 0;
  padding-left: 0 !important;
  position: fixed;
  height: 100%; }
  .aside .main {
    color: #6F7B7E;
    width: 100%;
    position: relative; }
    @media screen and (max-width: 1025px) {
      .aside .main {
        padding: 10px; } }
  .aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
  .aside .main .item {
    display: flex;
    width: 100%;
    padding: 10px 0 10px 24px;
    color: #6F7B7E; }
    .aside .main .item.active {
      background-color: #00d1b2;
      color: white; }
      .aside .main .item.active:hover {
        background-color: #00d1b2;
        color: white; }
        .aside .main .item.active:hover .icon {
          color: white;
          transition: color 0.2s ease-in-out; }
    .aside .main .item:hover {
      background-color: white;
      transition: background-color 0.2s ease-in-out; }
      .aside .main .item:hover .icon {
        color: #00d1b2;
        transition: color 0.2s ease-in-out; }
  .aside .main .icon {
    font-size: 19px;
    margin-right: 12px; }
    @media screen and (max-width: 1150px) {
      .aside .main .icon {
        display: none; } }
  .aside .main .name {
    font-size: 16px; }

.main-content {
  margin-top: 52px; }

.box {
  border-radius: 0; }

/* ADMIN/POST STYLES */
.hidden {
  display: none; }

form {
  margin-bottom: 48px; }

/* ADMIN/PROJECT STYLES */
.port-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio/portfolio1.jpeg);
  background-size: cover;
  background-position: center center; }

.port-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio/portfolio2.jpeg);
  background-size: cover;
  background-position: center center; }

.port-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio/portfolio3.jpeg);
  background-size: cover;
  background-position: center center; }

.port-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio/portfolio4.jpeg);
  background-size: cover;
  background-position: center center; }

.port-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/portfolio/portfolio5.jpeg);
  background-size: cover;
  background-position: center center; }

.figure {
  display: inline-block; }

.modal-box {
  display: flex;
  flex-direction: column; }
  .modal-box .remove {
    position: absolute;
    display: inline-block;
    right: 20px; }
  .modal-box .is-select {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .modal-box .image-1 {
    height: 300px;
    margin-bottom: 20px;
    background-image: url(../../images/portfolio/portfolio1.jpeg);
    background-size: cover;
    background-position: center center; }
    .modal-box .image-1:last-child {
      margin-bottom: 0; }
  .modal-box .image-2 {
    height: 300px;
    margin-bottom: 20px;
    background-image: url(../../images/portfolio/portfolio2.jpeg);
    background-size: cover;
    background-position: center center; }
    .modal-box .image-2:last-child {
      margin-bottom: 0; }
  .modal-box .image-3 {
    height: 300px;
    margin-bottom: 20px;
    background-image: url(../../images/portfolio/portfolio3.jpeg);
    background-size: cover;
    background-position: center center; }
    .modal-box .image-3:last-child {
      margin-bottom: 0; }
  .modal-box .image-4 {
    height: 300px;
    margin-bottom: 20px;
    background-image: url(../../images/portfolio/portfolio4.jpeg);
    background-size: cover;
    background-position: center center; }
    .modal-box .image-4:last-child {
      margin-bottom: 0; }
  .modal-box .image-5 {
    height: 300px;
    margin-bottom: 20px;
    background-image: url(../../images/portfolio/portfolio5.jpeg);
    background-size: cover;
    background-position: center center; }
    .modal-box .image-5:last-child {
      margin-bottom: 0; }
  .modal-box .image-6 {
    height: 300px;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .modal-box .image-6 i {
      font-size: 4rem;
      color: #9a9a9a; }
    .modal-box .image-6:hover {
      background-color: #dbdbdb; }
      .modal-box .image-6:hover i {
        color: #4a4a4a; }

/*# sourceMappingURL=admin.css.map */
