/* ADMIN PAGE STYLES */
$main-color: #00d1b2

html
  padding-left: 12px 
  padding-right: 12px

#top 
  position: fixed
  width: 100%
  background: #25283D
  left: 0px

  a 
    color: white

.aside
  background-color: #EEE
  padding-right: 0
  padding-left: 0 !important
  position: fixed
  height: 100%
  .main
    color: #6F7B7E
    width: 100%
    position: relative
    @media screen and (max-width: 1025px)
      padding: 10px
  .title
    color: #6F7B7E
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
  .main
    .item
      display: flex
      width: 100%
      padding: 10px 0 10px 24px
      color: #6F7B7E
      &.active
        background-color: $main-color
        color: white
        &:hover 
          background-color: $main-color
          color: white
      &:hover
        background-color: white
        transition: background-color 0.2s ease-in-out
        .icon
          color: $main-color
          transition: color 0.2s ease-in-out
    .icon
      font-size: 19px
      margin-right: 12px
      @media screen and (max-width: 1150px)
        display: none
    .name
      font-size: 16px

.main-content
  margin-top: 52px

.box 
  border-radius: 0

/* ADMIN/POST STYLES */

.hidden 
  display: none

form 
  margin-bottom: 48px

